[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alabaster = "*"
asgiref = "*"
autopep8 = "*"
babel = "*"
bcrypt = "*"
beautifulsoup4 = "*"
blinker = "*"
cachelib = "*"
contourpy = "*"
cryptography = "*"
cycler = "*"
dbus-python = "*"
defer = "*"
deprecated = "*"
distro = "*"
distro-info = "*"
django = "*"
dnspython = "*"
docopt = "*"
docutils = "*"
duplicity = "*"
email-validator = "*"
et-xmlfile = "*"
fasteners = "*"
feedparser = "*"
flask = "*"
flask-bcrypt = "*"
flask-limiter = "*"
flask-login = "*"
flask-mail = "*"
flask-mysqldb = "*"
flask-session = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
fonttools = "*"
future = "*"
gitsome = "*"
google-api-core = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
googleapis-common-protos = "*"
greenlet = "*"
html5lib = "*"
httplib2 = "*"
idna = "*"
imagesize = "*"
importlib-metadata = "*"
itsdangerous = "*"
jeepney = "*"
jinja2 = "*"
keyring = "*"
kiwisolver = "*"
launchpadlib = "*"
"lazr.restfulclient" = "*"
"lazr.uri" = "*"
limits = "*"
lockfile = "*"
louis = "*"
lxml = "*"
macaroonbakery = "*"
mako = "*"
markupsafe = "*"
matplotlib = "*"
monotonic = "*"
more-itertools = "*"
natsort = "*"
netifaces = "*"
numpy = "*"
numpydoc = "*"
oauth2client = "*"
oauthlib = "*"
olefile = "*"
openpyxl = "*"
ordered-set = "*"
packaging = "*"
pandas = "*"
paramiko = "*"
pexpect = "*"
pillow = "*"
ply = "*"
prompt-toolkit = "*"
protobuf = "*"
ptyprocess = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycairo = "*"
pycodestyle = "*"
pycups = "*"
pydrive = "*"
pygments = "*"
pygobject = "*"
pyjwt = "*"
pymacaroons = "*"
pymysql = "*"
pynacl = "*"
pyopenssl = "*"
python-dateutil = "*"
python-debian = "*"
pyxdg = "*"
pyyaml = "*"
reportlab = "*"
requests = "*"
requests-oauthlib = "*"
requests-toolbelt = "*"
rich = "*"
roman = "*"
rsa = "*"
seaborn = "*"
secretstorage = "*"
setproctitle = "*"
sgmllib3k = "*"
six = "*"
snowballstemmer = "*"
soupsieve = "*"
sphinx = "*"
sqlalchemy = "*"
sqlparse = "*"
tomli = "*"
typing-extensions = "*"
tzdata = "*"
tzlocal = "*"
uritemplate = "*"
urllib3 = "*"
wadllib = "*"
wcwidth = "*"
webencodings = "*"
werkzeug = "*"
wrapt = "*"
wtforms = "*"
xdg = "*"
xonsh = "*"
zipp = "*"

[dev-packages]

[requires]
python_version = "3.11"
